<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input 
                    class="form-control"
                    id="nome" 
                    placeholder="Digite o seu nome aqui"
                    [(ngModel)]="nomeInput"
                    name = "nomePessoa">
            </div>
            <div class="form-group">
                <label for="texto">Texto:</label>
                <textarea
                    rows="3" 
                    class="form-control" 
                    id="texto" 
                    placeholder="Digite sua mensagem aqui"
                    [(ngModel)]="textoInput"
                    name = "texto">
                </textarea>
            </div>
            <button type="submit" class="btn btn-default" 
                (click) = "submit($event)">
                Enviar
            </button>
        </form>
    </div>
    <div>
        <div class="overlay"></div>
        <div class="loading"></div>
        <span>O seu texto está sendo adicionado</span>
    </div>
</div>